#btn1 {
	height: 150px;
	width: 200px;
	background-image: url(Beaut1small.jpg);
	background-repeat: no-repeat;
	color: white;
}

#btn2 {
	height: 150px;
	width: 200px;
	background-image: url(Beaut2small.jpg);
	background-repeat: no-repeat;
	color: white;
}

#btn3 {
	height: 150px;
	width: 200px;
	background-image: url(Beaut3small.jpg);
	background-repeat: no-repeat;
	color: white;
}

#btn4 {
	height: 150px;
	width: 200px;
	background-image: url(Beaut4small.jpg);
	background-repeat: no-repeat;
	color: white;
}